.popup-wrapper {
    position: absolute;
    display: inline;
}

.popup-wrapper > svg{ 
    position: absolute;
    top: -4px;
}

.popup-wrapper .popup {
    position: absolute;
    height: 500px;
    width: 360px;
    background: white;
    top: -10px;
    display: none;
    left: 20px;
    z-index: 1000;
    padding: 0;
    opacity: 1;
    border: 1px solid #0072b3;
    border-radius: 6px;
    box-shadow: 1px 2px 4px 0 555;
    transition: opacity .6s;
}

.popup-wrapper .popup::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #0072b3 transparent transparent;
}

/* .popup-wrapper .popup .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    pointer-events: none;
    border-top: 1px solid #0072b3;
    justify-content: space-between;
    padding: 12px 8%;
    z-index: 2;
} */
.popup-wrapper .popup .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #0072b3;
    height: 42px;
    font-family: sans-serif;
} 

.popup-wrapper .popup .footer .read-time {
    font-size: 16px;
    color: #0072b3;
}

.popup-wrapper .popup .header,.popup-wrapper .popup .header > .segment {
    height: 100%;
    position: relative;
    z-index: 1;
}

.popup-wrapper .popup .header iframe {
    width: 100%;
    height: 456px;
    border: none;
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_632/04de2e31234507.564a1d23645bf.gif) no-repeat center;
    background-size: 50%;
}

/* .popup-wrapper .popup .footer .bookmark {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    border-radius: 16px;
    cursor: pointer;
  }
  
.popup-wrapper .popup .footer .bookmark:hover {
    background-color: #f1f1f1;
} */

.popup-wrapper:hover .popup {
    display: block;
    visibility: visible;
    opacity: 1;
}
